<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BuildYourOwnMeal"
        tools:targetApi="33">
        <activity
            android:name=".adminAddEditUser"
            android:exported="false" />
        <activity
            android:name=".adminAddEditMenuItem"
            android:exported="false" />
        <activity
            android:name=".adminAddEditMeals"
            android:exported="false" />
        <activity
            android:name=".adminAccounts"
            android:exported="false"
            android:theme="@style/admin" />
        <activity
            android:name=".adminMenu"
            android:exported="false"
            android:theme="@style/admin" />
        <activity
            android:name=".adminMeals"
            android:exported="false"
            android:theme="@style/admin" />
        <activity
            android:name=".adminOrders"
            android:exported="false"
            android:theme="@style/admin" />
        <activity
            android:name=".admin"
            android:exported="false"
            android:theme="@style/admin" />
        <activity
            android:name=".preMadeMeal"
            android:exported="false" />
        <activity
            android:name=".editContactNumber"
            android:exported="false" />
        <activity
            android:name=".editEmail"
            android:exported="false" />
        <activity
            android:name=".editPassword"
            android:exported="false" />
        <activity
            android:name=".editUsername"
            android:exported="false" />
        <activity
            android:name=".aboutUs"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".introduction_screen"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:theme="@style/splashscreenBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".paymentMethod"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".logIn"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".checkout"
            android:exported="false" />
        <activity
            android:name=".craftedMeal"
            android:exported="false" />
        <activity
            android:name=".termsAndCondition"
            android:exported="false" />
        <activity
            android:name=".contactUs"
            android:exported="false" />
        <activity
            android:name=".orderHistory"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".Navbar"
            android:exported="false" />
    </application>

</manifest>